<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon18.maverick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.WalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_wallet"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_share"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.TransferActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_transfer"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.TopUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_top_up"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.DiscountVoucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dis_voucher"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.CreditCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_credit_card3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activity.CreditCard1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_credit_card1"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>